[Desktop Entry]
Type=Application
#Exec=/usr/bin/chromium-browser --noerrdialogs --remote-debugging-port=9222 --kiosk http://localhost/index.html
Hidden=False
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoChromium
Name=AutoChromium
Comment=Start Chromium When the GNOME starts
